<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Student</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/dist/lib/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/lib/css/student-style.css}" rel="stylesheet">
</head>

<body>
<!-- Navigation bar -->
<nav th:insert="Student/navBar :: navbar"></nav>
<!-- middle section -->
<div class="d-flex" id="wrapper">
    <div th:insert="Student/sideBar :: sidebar"></div>
    <form class="container mt-5 p-5">
        <h2 class="page-title"><b id="txtTitle"></b></h2>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Registration No</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewRegistrationNo" placeholder="Registration No" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Index No</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewIndexNo" placeholder="Index No" readonly>
            </div>
        </div>

        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewFirstName" placeholder="First Name" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Middle Name</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewMiddleName" placeholder="Middle Name" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewLastName" placeholder="Last Name" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewAddress" placeholder="Address" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center ">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewEmail" placeholder="Email" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Telephone</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewTelephone" placeholder="Telephone" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">NIC</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewNIC" placeholder="NIC" readonly>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label text-center">Gender</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewGender" placeholder="Gender" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Level</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewLevel" placeholder="Level" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Parent Name</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewParentName" placeholder="Parent Name" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Parent Telephone</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewParentTelephone" placeholder="Parent Telephone" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Degree ID</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewDegreeID" placeholder="Degree ID" readonly>
            </div>
        </div>
        <div class="form-group row mb-3 text-center">
            <label class="col-sm-3 col-form-label">Degree Name</label>
            <div class="col-sm-9">
                <input class="form-control" id="txtViewDegreeName" placeholder="Degree Name" readonly>
            </div>
        </div>
    </form>

</div>


<script th:src="@{/dist/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/lib/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/lib/controllers/baseURL.js}"></script>
<script th:src="@{/dist/lib/js/sweetalert.js}"></script>
<script th:src="@{/dist/lib/controllers/navBar-controller.js}"></script>
<script th:src="@{/dist/lib/controllers/student/profile-controller.js}"></script>
</body>

</html>