<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Faculty Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/dist/lib/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/lib/css/facultyAdmin-style.css}" rel="stylesheet">
</head>

<body>
<!-- Navigation bar -->
<nav th:insert="FacultyAdmin/navBar :: navbar"></nav>
<!-- middle section -->
<div class="d-flex" id="wrapper">
    <div th:insert="FacultyAdmin/sideBar :: sidebar"></div>
    <div class="container-fluid mt-5 p-5">
        <h2 class="page-title">Exams</h2>
        <div class="container-fluid">
            <div class="col-12 ">
                <div class="card">
                    <div class="row">
                        <!--Search Bar-->
                        <div class="col-sm-12 col-lg-6">
                            <div class="card searchCard">
                                <div class="card-body">
                                    <div class="searchDiv">
                                        <input type="text" id="txtSearchExamID" autocomplete="off"
                                               placeholder="Exams ID..." />
                                        <button id="btnSearchExamID"><i
                                                class="fas fa-search"></i>&nbsp&nbspSearch</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="card searchCard">
                                <div class="card-body">
                                    <div class="searchDiv">
                                        <input type="text" id="txtSearchDate" autocomplete="off"
                                               placeholder="Date..." />
                                        <button id="btnSearchDate"><i
                                                class="fas fa-search"></i>&nbsp&nbspSearch</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead>
                                <tr class="table-secondary">

                                    <th class="p-3">Course ID</th>
                                    <th class="p-3">Exam ID</th>
                                    <th class="p-3">Course Name</th>
                                    <th class="p-3">Date</th>
                                    <th class="p-3">Duration</th>
                                    <th><button type="button " class="btn btn-success px-4" data-bs-toggle="modal" data-bs-target="#addNewModal">Add new </button></th>
                                </tr>
                                </thead>
                                <tbody id="examTable">
                                <tr>

                                    <td class="p-3" id="txtCourseId1">IT4004</td>
                                    <td class="p-3" id="txtExamId1">E01</td>
                                    <td class="p-3" id="txtCourseName1">Advanced Database Systems</td>
                                    <td class="p-3" id="txtDate1">2021-06-09</td>
                                    <td class="p-3" id="txtDuration1">2 Hr</td>

                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-secondary rounded px-4 me-3" id="btnEdit" onclick="openUpdateModal(1)">Edit</button>
                                            <button type="submit" class="btn btn-danger rounded px-4" id='btnDelete' value="1" name="btnDelete">Delete</button>
                                        </div>
                                    </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add new exams -->
<div class="modal fade" id="addNewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">Add New Exams</h5>
                <button type="button " class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-2 mx-3">
                <form>

                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Course Id</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtCourseId" placeholder="Course Id">
                        </div>
                    </div>
                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Exam Id</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtExamId" placeholder="Exam Id">
                        </div>
                    </div>
                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Course Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtCourseName" placeholder="Course Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtDate" placeholder="Date">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-3 col-form-label">Duration</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtDuration" placeholder="Duration">
                        </div>
                    </div>
                    <div class=" col-md-12 text-end mt-4">
                        <button name="btnAddNew" type="submit" class=" btn btn-primary mb-2 px-5">Save</button>
                        <button name="cancel" class="btn btn-danger mb-2 px-5" data-bs-dismiss="modal" aria-label="Close">Close</button></br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Update exams -->
<div class="modal fade" id="updateExams" tabindex="-1 " aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Update Exams</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-2 mx-3">
                <form>
                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Course Id</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtEditCourseId" placeholder="Course Id">
                        </div>
                    </div>
                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Exam Id</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtEditExamId" placeholder="Exam Id">
                        </div>
                    </div>
                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Course Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtEditCourseName" placeholder="Course Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3 ">
                        <label class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtEditDate" placeholder="Date">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-3 col-form-label">Duration</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="txtEditDuration" placeholder="Duration">
                        </div>
                    </div>
                    <div class=" col-md-12 text-end mt-4 ">
                        <button name="btnUpdate" type="submit" class=" btn btn-primary mb-2 px-5">Update</button>
                        <button id="cancel" name="cancel" class="btn btn-danger mb-2 px-5" data-bs-dismiss="modal" aria-label="Close">Close</button></br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/dist/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/lib/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/lib/controllers/baseURL.js}"></script>
<script th:src="@{/dist/lib/js/sweetalert.js}"></script>
<script th:src="@{/dist/lib/controllers/navBar-controller.js}"></script>
<script th:src="@{/dist/lib/controllers/facultyAdmin/exam-controller.js}"></script>
</body>

</html>