<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>HEISIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/dist/lib/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/lib/css/index-style.css}" rel="stylesheet">
</head>

<body>
<!-- Navigation bar -->
<div class="container-fluid bg-dark py-3" id="title">
    <h2 class="font-weight-bold text-center m-3">Higher Educational Institutional Student Information System</h2>
</div>
<!-- Topic Cards -->
<div class="container" >
    <div class="row" id="cardset">

    </div>
</div>
<script th:src="@{/dist/lib/jquery/jquery.min.js}" ></script>
<script th:src="@{/dist/lib/js/bootstrap.bundle.min.js}" ></script>
<script th:src="@{/dist/lib/controllers/baseURL.js}" ></script>
<script th:src="@{/dist/lib/js/sweetalert.js}" ></script>
<script th:src="@{/dist/lib/controllers/login-controller.js}" ></script>

</body>
</html>