<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/dist/lib/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/lib/css/mainAdmin-style.css}" rel="stylesheet">
</head>
<body>
<!-- Navigation bar -->
<nav th:insert="MainAdmin/navBar :: navbar"></nav>
<!-- middle section -->
<div class="container-fluid col mt-5 p-5">
    <h2 class="page-title">Manage Faculty Admins</h2>
    <div class="container" id="table-div">
        <div id="searchDiv">
            <input type="text" id="search" autocomplete="off" placeholder="Enter Faculty Admin..."/>
            <button id="btnSearch"><i class="fas fa-search"></i>&nbsp&nbspSearch</button>
        </div>
        <table class="table table-bordered text-center">
            <thead>
            <tr class="table-secondary">
                <th class="p-3">Faculty ID</th>
                <th class="p-3">Faculty Name</th>
                <th class="p-3">Admin Name</th>
                <th class="p-3">Telephone</th>
                <th class="p-3">Email</th>
                <th class="p-3">User Name</th>
                <th>
                    <button type="button " class="btn btn-success px-4" onclick="openAddNewModal()"><i class="fas fa-plus-circle"></i>&nbsp Add new
                    </button>
                </th>
            </tr>
            </thead>
            <tbody id="facultyAdminTable">
            </tbody>
        </table>
    </div>
</div>

<!-- add new faculty admin Modal -->
<div class="modal fade" id="addNewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">Add New Faculty Admin</h5>
                <button type="button " class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-2 mx-3">
                <form class="mx-5">
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">University Code</label>
                        <div class="col-sm-8">
                            <select id="selectUniCode" class="form-select" aria-label="Default select example">

                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">University Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtUniName" placeholder="University Name" readonly>
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Faculty ID</label>
                        <div class="col-sm-8">
                            <select id="selectFacultyID" class="form-select" aria-label="Default select example">

                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Faculty Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtFacultyName" placeholder="Faculty Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Admin ID</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtFacultyAdminID" placeholder="Faculty Admin ID">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Admin Name</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="txtFirstName" placeholder="First Name">
                        </div>
                        <div class="col-sm-5">
                            <input class="form-control" id="txtLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtAddress" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Telephone</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtTelephone" placeholder="Telephone">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">User Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtUserName" placeholder="User Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtConfirmPassword"
                                   placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class=" col-md-12 text-end mt-4">
                        <button type="button" id="btnAddNew" class=" btn btn-primary mb-2 px-5"><i
                                class="fas fa-save"></i>&nbsp Save
                        </button>
                        <button name="cancel" class="btn btn-danger mb-2 px-5" data-bs-dismiss="modal"
                                aria-label="Close"><i class="fas fa-window-close"></i>&nbsp Close
                        </button>
                        </br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update faculty admin Modal -->
<div class="modal fade" id="updateModal" tabindex="-1 " aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Update Faculty</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-2 mx-3">
                <form class="mx-5">
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Faculty ID</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtEditFacultyID" placeholder="University Code" readonly>
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Faculty Name</label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm" id="txtEditFacultyName"
                                   placeholder="Faculty Name" readonly>
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Faculty Admin ID</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtEditFacultyAdminID" placeholder="Faculty Admin ID"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Faculty Admin Name</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="txtEditFirstName" placeholder="First Name">
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control" id="txtEditLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtEditAddress" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Telephone</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtEditTelephone" placeholder="Telephone">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtEditEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">User Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="txtEditUserName" placeholder="User Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtEditPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row mb-3 text-center">
                        <label class="col-sm-3 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtEditConfirmPassword"
                                   placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class=" col-md-12 text-end mt-4 ">
                        <button type="button" id="btnUpdate" class=" btn btn-primary mb-2 px-5"><i
                                class="fas fa-edit"></i>&nbsp Update
                        </button>
                        <button name="cancel" class="btn btn-danger mb-2 px-5" data-bs-dismiss="modal"
                                aria-label="Close"><i class="fas fa-window-close"></i>&nbsp Close
                        </button>
                        </br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/dist/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/lib/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/lib/controllers/baseURL.js}"></script>
<script th:src="@{/dist/lib/js/sweetalert.js}"></script>
<script th:src="@{/dist/lib/controllers/navBar-controller.js}"></script>
<script th:src="@{/dist/lib/controllers/mainAdmin/facultyAdmin-controller.js}"></script>
</body>

</html>